<mapper namespace="com.test.dao.IUserDao">

    <!-- sql的唯一标识 namespace.id组成 -->
    <select id="findAll" resultType="com.test.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.test.pojo.User" parameterType="com.test.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

</mapper>