<mapper namespace="user">

    <!-- sql的唯一标识 namespace.id组成 -->
    <select id="selectList" resultType="com.test.pojo.User">
        select * from user
    </select>

    <select id="selectOne" resultType="com.test.pojo.User" parameterType="com.test.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

</mapper>