<mapper namespace="com.test.dao.IUserDao">

    <!-- sql的唯一标识 namespace.id组成 -->
    <select id="findAll" resultType="com.test.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.test.pojo.User" parameterType="com.test.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <insert id="addUser" resultType="java.lang.Boolean" parameterType="com.test.pojo.User">
        insert into user values(#{id}, #{username})
    </insert>

    <update id="updateUser" resultType="java.lang.Boolean" parameterType="com.test.pojo.User">
        update user set username=#{username} where id=#{id}
    </update>

    <delete id="deleteUser" resultType="java.lang.Boolean" parameterType="com.test.pojo.User">
        delete from user where id=#{id}
    </delete>
</mapper>